<div class="row m-2">
  <div *ngFor="let team of teams" class="col-lg-6 mb-2">
    <h4>{{team.name}}</h4>
    <table class="table table-condensed">
      <thead class="thead-light">
        <th scope="col">#</th>
        <th scope="col">Pokemon</th>
      </thead>
      <tbody>
        <tr *ngIf="team.pokemonOne">
          <th scope="row">#1</th>
          <td>{{team.pokemonOne.name | titlecase}}</td>
        </tr>
        <tr *ngIf="team.pokemonTwo">
          <th scope="row">#2</th>
          <td>{{team.pokemonTwo.name | titlecase}}</td>
        </tr>
        <tr *ngIf="team.pokemonThree">
          <th scope="row">#3</th>
          <td>{{team.pokemonThree.name | titlecase}}</td>
        </tr>
        <tr *ngIf="team.pokemonFour">
          <th scope="row">#4</th>
          <td>{{team.pokemonFour.name | titlecase}}</td>
        </tr> 
        <tr *ngIf="team.pokemonFive">
          <th scope="row">#5</th>
          <td>{{team.pokemonFive.name | titlecase}}</td>
        </tr>
        <tr *ngIf="team.pokemonSix">
          <th scope="row">#6</th>
        <td>{{team.pokemonSix.name | titlecase}}</td>
        </tr> 
      </tbody>
    </table>
    <div>
      <a [routerLink]="['view', team.teamId]" class="mr-2">View details</a>
      <span *ngIf="team.tier">Tier : {{returnTier(team.tier)}}  </span>
      <span class="float-right">Team created by : <img src="{{team.creatorImage}}" width="25" height="25"> {{team.creator}}</span>
    </div>
  </div>
</div>

